@use "../valiable" as *;

/* =====================================================
formConfirm
===================================================== */ 
.formConfirm_wrap {
    background: #eee;
    padding: 2em;
}

.formConfirm_item + .formConfirm_item {
    margin-top: .5em;
}









